.icon{
    position: absolute;
    width: 40px;
    top: 50px;
    height: 35px;
    padding: 10px;
    right: 200px;
    display: flex;
    justify-content: end;
    border-radius: 50%;
    border: 1.0px dashed #9BA2B3;
}

#profile_img{
    align-items: center;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0 0 0;
    height: 88px;
}
#twitter{
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 20px;
text-align: center;
color: #101828;
padding: 0 0 20px 0;
}
